body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

header {
    background: #b30000;
    color: white;
    padding: 20px;
    text-align: center;
}

.form-container, .table-container {
    background: white;
    width: 90%;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    border: none;
    background: #b30000;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #cc0000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.reset-btn {
    background: #333;
    margin-top: 15px;
}

reset-btn:hover {
    background: black;
}

footer {
    margin-top: 30px;
    background: #222;
    padding: 15px;
    text-align: center;
    color: white;
}
